
/* General */

* {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

/* Navigation Bar */

.navbar {
  justify-content: space-around;
  align-items: center;
  margin: 0;
  color: white;
  background-color: black;
  width: 100%;
  height: 102px;
  top: 0;
}

.navbar p{
  background-color: #8b8b8b;
}

.nav-element {
  padding: 10px 25px;
}

.main-nav-logo {
  padding: 15px 40px;
}

.search-nav {
  padding: 15px 60px;
}

/* Articles */

.article-teaser {
  width: 20%;
  background-color: #8b8b8a;
  font-size: 28px;
  padding: 10px 40px;
  margin: 4px auto;
}

.first-article-grid {
  width: 98%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 4px auto;
}

.first-article-grid div{
  background-color: #4a4a4a;
  padding: 17% 12%;
}
